@page
@model UniversityRegistration.Pages.RoleLogics.CreateModel
@{
}
<form method="post" class="form-group">
    <div> 
        <label asp-for="@Model.identityRole" class="control-label"></label>
        <input asp-for="@Model.identityRole.Name" class="form-control" />

    </div>
    <br />
    <div>
    <input type="submit" class="btn btn-outline-primary" />
    <a href="/RoleLogics/Index" class="btn btn-outline-primary">Create Role</a>
    </div>
</form>

