@page
@model UniversityRegistration.Pages.RoleLogics.CreateModel
@{
}
<form method="post">
    <div>
        <label>Name</label>
        <input asp-for="@Model.identityRole" />

    </div>
    <input type="submit" class="btn btn-primary" />
</form>