@page
@model UniversityRegistration.Pages.RoleLogics.IndexModel
@{
}
<table class="table table-bordered">
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in @Model.roles)
        {
            <tr>
                <td>@item.Id</td>
                <td>@item.Name</td>
            </tr>
        }
    </tbody>
    
</table>

<a href="/RoleLogics/Create" class="btn btn-outline-primary">Create Role</a>
